<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <ul v-for="(i,index) in num">
            <li>{{index}}-{{i}}</li>
        </ul>
        <table>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
            </tr>
            <tr v-for="(stu, index) in stuList">
                <td>{{index}}</td>
                <td>{{stu.name}}</td>
                <td>{{stu.age}}</td>
                <td>{{stu.sex}}</td>
            </tr>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                num: [1, 15, 5, 5, 55, 4, 54, 54, 5244, 25],
                stuList: [{
                        name: "zhangsan",
                        age: 12,
                        sex: 'nan'
                    },
                    {
                        name: "zhangsan",
                        age: 12,
                        sex: 'nan'
                    },
                    {
                        name: "zhangsan",
                        age: 12,
                        sex: 'nan'
                    },
                    {
                        name: "zhangsan",
                        age: 12,
                        sex: 'nan'
                    },
                    {
                        name: "zhangsan",
                        age: 12,
                        sex: 'nan'
                    },
                ]
            },
        })
    </script>

</body>

</html>